.hidden {
  display: none;
}

.champ-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-container img {
  height: 65px;
  width: 65px;
}

.selection img {
  height: 65px;
  width: 65px;
}

.btn-container button {
  border: none;
  padding: 0px;
  height: 65px;
  width: 65px;
}

.selection button {
  background-color: #0e1015;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn-container .selection {
  border: 1px black solid;
  position: absolute;
  bottom: 70px;
  display: flex;
}
