.header-container {
  border-bottom: 1px #17191e;
  background-color: #13151b;
  width: 100%;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
}

.header-container button {
  display: flex;
  justify-content: center;
  color: #5b8baf;
  background: none;
  border: none;
  font-family: "Mulish", sans-serif;
  font-size: 26px;
}

.search-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  display: flex;
  z-index: 1;
}

.background {
  display: flex;
  top: 5rem;
  position: relative;
  justify-content: space-evenly;
  background-color: #13151b;
  border: solid 1px #17191e;
  align-items: center;
}

.header-container .search-container .background {
  height: 10rem;
  width: 40rem;
}

.header-container .search-container .server-btn {
  background-color: #1891ab;
  color: #fff;
  border-radius: 8px;
  height: 4rem;
  width: 6rem;
  align-items: center;
}

.header-container .search-container .search-bar {
  background-color: #1891ab;
  color: #fff;
  height: 4rem;
  width: 25rem;
  border-radius: 8px;
}

.header-container .search-container .search-bar::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  color: #fff;
}

.hidden {
  display: none;
}
