.teambuilder-container {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  background-color: #0e1015;
  color: white;
  min-height: calc(100vh - 42px);
}

.hidden {
  display: none;
}

.footer {
  background-color: #0e1015;
  width: 100%;
  height: 1rem;
}

@media only screen and (max-width: 850px) {
  .header-container {
    height: 5rem;
  }

  .header-container .search-container .search-bar {
    width: 19rem;
  }

  .error-message {
    position: absolute;
    bottom: 1rem;
    font-size: 20px;
  }

  .team-icons {
    padding: 0;
    flex-direction: column;
  }

  .team-icons img {
    --s: 90px;
  }

  .app-container .wrapper-page .teambuilder-container {
    height: unset;
  }

  .lane-icons {
    flex-direction: column;
  }

  .teambuilder-container .lane-selection {
    position: relative;
    top: 17.6rem;
    left: -2rem;
    margin-bottom: -3rem;
  }

  .selection {
    flex-wrap: wrap;
  }

  .teambuilder-container .champ-list {
    margin-left: 7rem;
    margin-right: 3rem;
  }

  .lane-selection .lane-icons .all-champs {
    justify-content: center;
    align-content: normal;
  }

  .search-bar {
    font-size: 26px;
  }
}
